src/wsdl/controlador.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><!-- Generated by XML-WS Runtime (https://github.com/eclipse-ee4j/metro-jax-ws). Runtime's version is XML-WS Runtime 4.0.1 git-revision#298606e. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://publicadores/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://publicadores/" name="ControladorPublishService">
<types>
<xsd:schema>
<xsd:import namespace="http://publicadores/" schemaLocation="http://localhost:3001/controlador?xsd=1"/>
</xsd:schema>
<xsd:schema>
<xsd:import namespace="http://jaxb.dev.java.net/array" schemaLocation="http://localhost:3001/controlador?xsd=2"/>
</xsd:schema>
</types>
<message name="obtenerProfesorClase">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="obtenerProfesorClaseResponse">
<part name="return" type="xsd:string"/>
</message>
<message name="obtenerRegistrosSocio">
<part name="arg0" type="xsd:int"/>
</message>
<message name="obtenerRegistrosSocioResponse">
<part name="return" type="tns:registroArray"/>
</message>
<message name="modificarActividadDeportiva">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:int"/>
<part name="arg3" type="xsd:float"/>
<part name="arg4" type="xsd:string"/>
</message>
<message name="modificarActividadDeportivaResponse"/>
<message name="obtenerActivDeporProfe">
<part name="arg0" type="xsd:int"/>
</message>
<message name="obtenerActivDeporProfeResponse">
<part xmlns:ns1="http://jaxb.dev.java.net/array" name="return" type="ns1:stringArray"/>
</message>
<message name="obtenerClasesDeActividad">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerClasesDeActividadResponse">
<part name="return" type="tns:claseArray"/>
</message>
<message name="obtenerActividadesInstitucion">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerActividadesInstitucionResponse">
<part name="return" type="tns:actividadDeportivaArray"/>
</message>
<message name="modificarInstitucion">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
</message>
<message name="modificarInstitucionResponse"/>
<message name="obtenerInstituciones"/>
<message name="obtenerInstitucionesResponse">
<part xmlns:ns2="http://jaxb.dev.java.net/array" name="return" type="ns2:stringArray"/>
</message>
<message name="obtenerInstitucion">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerInstitucionResponse">
<part name="return" type="tns:institucionDeportiva"/>
</message>
<message name="obtenerActividades">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerActividadesResponse">
<part xmlns:ns3="http://jaxb.dev.java.net/array" name="return" type="ns3:stringArray"/>
</message>
<message name="obtenerProfesInst">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerProfesInstResponse">
<part xmlns:ns4="http://jaxb.dev.java.net/array" name="return" type="ns4:stringArray"/>
</message>
<message name="altaClaseActividad">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
<part name="arg4" type="xsd:string"/>
<part name="arg5" type="xsd:dateTime"/>
<part name="arg6" type="xsd:dateTime"/>
<part name="arg7" type="xsd:string"/>
</message>
<message name="altaClaseActividadResponse"/>
<message name="ClaseException">
<part name="fault" element="tns:ClaseException"/>
</message>
<message name="altaSocioClase">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:dateTime"/>
</message>
<message name="altaSocioClaseResponse"/>
<message name="SocioYaInscriptoException">
<part name="fault" element="tns:SocioYaInscriptoException"/>
</message>
<message name="obtenerInfoClase">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerInfoClaseResponse">
<part name="return" type="tns:clase"/>
</message>
<message name="obtenerClases">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerClasesResponse">
<part xmlns:ns5="http://jaxb.dev.java.net/array" name="return" type="ns5:stringArray"/>
</message>
<message name="obtenerListaSocios"/>
<message name="obtenerListaSociosResponse">
<part xmlns:ns6="http://jaxb.dev.java.net/array" name="return" type="ns6:stringArray"/>
</message>
<message name="altaInstitucion">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
</message>
<message name="altaInstitucionResponse"/>
<message name="InstitucionRepetidaException">
<part name="fault" element="tns:InstitucionRepetidaException"/>
</message>
<message name="obtenerActividad">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerActividadResponse">
<part name="return" type="tns:actividadDeportiva"/>
</message>
<message name="obtenerProfes"/>
<message name="obtenerProfesResponse">
<part name="return" type="tns:dtProfesorArray"/>
</message>
<message name="obtenerSocios"/>
<message name="obtenerSociosResponse">
<part name="return" type="tns:dtSocioArray"/>
</message>
<message name="obtenerClasesProfe">
<part name="arg0" type="xsd:int"/>
</message>
<message name="obtenerClasesProfeResponse">
<part xmlns:ns7="http://jaxb.dev.java.net/array" name="return" type="ns7:stringArray"/>
</message>
<message name="obtenerClasesAct">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerClasesActResponse">
<part xmlns:ns8="http://jaxb.dev.java.net/array" name="return" type="ns8:stringArray"/>
</message>
<message name="obtenerUsuarios"/>
<message name="obtenerUsuariosResponse">
<part xmlns:ns9="http://jaxb.dev.java.net/array" name="return" type="ns9:stringArray"/>
</message>
<message name="actualizarProfe">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
<part name="arg4" type="xsd:dateTime"/>
<part name="arg5" type="xsd:string"/>
<part name="arg6" type="xsd:string"/>
<part name="arg7" type="xsd:string"/>
<part name="arg8" type="xsd:string"/>
</message>
<message name="actualizarProfeResponse"/>
<message name="actualizarUsuario">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
<part name="arg4" type="xsd:dateTime"/>
<part name="arg5" type="xsd:string"/>
</message>
<message name="actualizarUsuarioResponse"/>
<message name="rankingClases"/>
<message name="rankingClasesResponse">
<part xmlns:ns10="http://jaxb.dev.java.net/array" name="return" type="ns10:anyTypeArray"/>
</message>
<message name="obtenerProfesor">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerProfesorResponse">
<part name="return" type="tns:dtProfesor"/>
</message>
<message name="obtenerUsuario">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerUsuarioResponse">
<part name="return" type="tns:dtUsuario"/>
</message>
<message name="rankingActividades"/>
<message name="rankingActividadesResponse">
<part xmlns:ns11="http://jaxb.dev.java.net/array" name="return" type="ns11:anyTypeArray"/>
</message>
<message name="altaActividadDeportiva">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:int"/>
<part name="arg3" type="xsd:float"/>
<part name="arg4" type="xsd:dateTime"/>
<part name="arg5" type="xsd:string"/>
<part name="arg6" type="xsd:string"/>
</message>
<message name="altaActividadDeportivaResponse"/>
<message name="ActividadDException">
<part name="fault" element="tns:ActividadDException"/>
</message>
<message name="altaUsuario">
<part name="arg0" type="tns:dtUsuario"/>
</message>
<message name="altaUsuarioResponse"/>
<message name="UsuarioRepetidoException">
<part name="fault" element="tns:UsuarioRepetidoException"/>
</message>
<message name="existeSocioClase">
<part name="arg0" type="tns:clase"/>
<part name="arg1" type="tns:socio"/>
</message>
<message name="existeSocioClaseResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="setPassword">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
<part name="arg2" type="xsd:string"/>
<part name="arg3" type="xsd:string"/>
</message>
<message name="setPasswordResponse"/>
<message name="obtenerActividadClase">
<part name="arg0" type="xsd:string"/>
</message>
<message name="obtenerActividadClaseResponse">
<part xmlns:ns12="http://jaxb.dev.java.net/array" name="return" type="ns12:stringArray"/>
</message>
<message name="eliminarSocioRegistro">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="tns:socio"/>
</message>
<message name="eliminarSocioRegistroResponse"/>
<message name="existeClaseActividad">
<part name="arg0" type="xsd:string"/>
</message>
<message name="existeClaseActividadResponse">
<part name="return" type="xsd:boolean"/>
</message>
<message name="existeActividadDepo">
<part name="arg0" type="xsd:string"/>
<part name="arg1" type="xsd:string"/>
</message>
<message name="existeActividadDepoResponse">
<part name="return" type="xsd:boolean"/>
</message>
<portType name="Controlador">
<operation name="obtenerProfesorClase" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/Controlador/obtenerProfesorClaseRequest" message="tns:obtenerProfesorClase"/>
<output wsam:Action="http://publicadores/Controlador/obtenerProfesorClaseResponse" message="tns:obtenerProfesorClaseResponse"/>
</operation>
<operation name="obtenerRegistrosSocio">
<input wsam:Action="http://publicadores/Controlador/obtenerRegistrosSocioRequest" message="tns:obtenerRegistrosSocio"/>
<output wsam:Action="http://publicadores/Controlador/obtenerRegistrosSocioResponse" message="tns:obtenerRegistrosSocioResponse"/>
</operation>
<operation name="modificarActividadDeportiva" parameterOrder="arg0 arg1 arg2 arg3 arg4">
<input wsam:Action="http://publicadores/Controlador/modificarActividadDeportivaRequest" message="tns:modificarActividadDeportiva"/>
<output wsam:Action="http://publicadores/Controlador/modificarActividadDeportivaResponse" message="tns:modificarActividadDeportivaResponse"/>
</operation>
<operation name="obtenerActivDeporProfe">
<input wsam:Action="http://publicadores/Controlador/obtenerActivDeporProfeRequest" message="tns:obtenerActivDeporProfe"/>
<output wsam:Action="http://publicadores/Controlador/obtenerActivDeporProfeResponse" message="tns:obtenerActivDeporProfeResponse"/>
</operation>
<operation name="obtenerClasesDeActividad">
<input wsam:Action="http://publicadores/Controlador/obtenerClasesDeActividadRequest" message="tns:obtenerClasesDeActividad"/>
<output wsam:Action="http://publicadores/Controlador/obtenerClasesDeActividadResponse" message="tns:obtenerClasesDeActividadResponse"/>
</operation>
<operation name="obtenerActividadesInstitucion">
<input wsam:Action="http://publicadores/Controlador/obtenerActividadesInstitucionRequest" message="tns:obtenerActividadesInstitucion"/>
<output wsam:Action="http://publicadores/Controlador/obtenerActividadesInstitucionResponse" message="tns:obtenerActividadesInstitucionResponse"/>
</operation>
<operation name="modificarInstitucion" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://publicadores/Controlador/modificarInstitucionRequest" message="tns:modificarInstitucion"/>
<output wsam:Action="http://publicadores/Controlador/modificarInstitucionResponse" message="tns:modificarInstitucionResponse"/>
</operation>
<operation name="obtenerInstituciones">
<input wsam:Action="http://publicadores/Controlador/obtenerInstitucionesRequest" message="tns:obtenerInstituciones"/>
<output wsam:Action="http://publicadores/Controlador/obtenerInstitucionesResponse" message="tns:obtenerInstitucionesResponse"/>
</operation>
<operation name="obtenerInstitucion">
<input wsam:Action="http://publicadores/Controlador/obtenerInstitucionRequest" message="tns:obtenerInstitucion"/>
<output wsam:Action="http://publicadores/Controlador/obtenerInstitucionResponse" message="tns:obtenerInstitucionResponse"/>
</operation>
<operation name="obtenerActividades">
<input wsam:Action="http://publicadores/Controlador/obtenerActividadesRequest" message="tns:obtenerActividades"/>
<output wsam:Action="http://publicadores/Controlador/obtenerActividadesResponse" message="tns:obtenerActividadesResponse"/>
</operation>
<operation name="obtenerProfesInst">
<input wsam:Action="http://publicadores/Controlador/obtenerProfesInstRequest" message="tns:obtenerProfesInst"/>
<output wsam:Action="http://publicadores/Controlador/obtenerProfesInstResponse" message="tns:obtenerProfesInstResponse"/>
</operation>
<operation name="altaClaseActividad" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7">
<input wsam:Action="http://publicadores/Controlador/altaClaseActividadRequest" message="tns:altaClaseActividad"/>
<output wsam:Action="http://publicadores/Controlador/altaClaseActividadResponse" message="tns:altaClaseActividadResponse"/>
<fault message="tns:ClaseException" name="ClaseException" wsam:Action="http://publicadores/Controlador/altaClaseActividad/Fault/ClaseException"/>
</operation>
<operation name="altaSocioClase" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://publicadores/Controlador/altaSocioClaseRequest" message="tns:altaSocioClase"/>
<output wsam:Action="http://publicadores/Controlador/altaSocioClaseResponse" message="tns:altaSocioClaseResponse"/>
<fault message="tns:SocioYaInscriptoException" name="SocioYaInscriptoException" wsam:Action="http://publicadores/Controlador/altaSocioClase/Fault/SocioYaInscriptoException"/>
</operation>
<operation name="obtenerInfoClase">
<input wsam:Action="http://publicadores/Controlador/obtenerInfoClaseRequest" message="tns:obtenerInfoClase"/>
<output wsam:Action="http://publicadores/Controlador/obtenerInfoClaseResponse" message="tns:obtenerInfoClaseResponse"/>
</operation>
<operation name="obtenerClases">
<input wsam:Action="http://publicadores/Controlador/obtenerClasesRequest" message="tns:obtenerClases"/>
<output wsam:Action="http://publicadores/Controlador/obtenerClasesResponse" message="tns:obtenerClasesResponse"/>
</operation>
<operation name="obtenerListaSocios">
<input wsam:Action="http://publicadores/Controlador/obtenerListaSociosRequest" message="tns:obtenerListaSocios"/>
<output wsam:Action="http://publicadores/Controlador/obtenerListaSociosResponse" message="tns:obtenerListaSociosResponse"/>
</operation>
<operation name="altaInstitucion" parameterOrder="arg0 arg1 arg2">
<input wsam:Action="http://publicadores/Controlador/altaInstitucionRequest" message="tns:altaInstitucion"/>
<output wsam:Action="http://publicadores/Controlador/altaInstitucionResponse" message="tns:altaInstitucionResponse"/>
<fault message="tns:InstitucionRepetidaException" name="InstitucionRepetidaException" wsam:Action="http://publicadores/Controlador/altaInstitucion/Fault/InstitucionRepetidaException"/>
</operation>
<operation name="obtenerActividad">
<input wsam:Action="http://publicadores/Controlador/obtenerActividadRequest" message="tns:obtenerActividad"/>
<output wsam:Action="http://publicadores/Controlador/obtenerActividadResponse" message="tns:obtenerActividadResponse"/>
</operation>
<operation name="obtenerProfes">
<input wsam:Action="http://publicadores/Controlador/obtenerProfesRequest" message="tns:obtenerProfes"/>
<output wsam:Action="http://publicadores/Controlador/obtenerProfesResponse" message="tns:obtenerProfesResponse"/>
</operation>
<operation name="obtenerSocios">
<input wsam:Action="http://publicadores/Controlador/obtenerSociosRequest" message="tns:obtenerSocios"/>
<output wsam:Action="http://publicadores/Controlador/obtenerSociosResponse" message="tns:obtenerSociosResponse"/>
</operation>
<operation name="obtenerClasesProfe">
<input wsam:Action="http://publicadores/Controlador/obtenerClasesProfeRequest" message="tns:obtenerClasesProfe"/>
<output wsam:Action="http://publicadores/Controlador/obtenerClasesProfeResponse" message="tns:obtenerClasesProfeResponse"/>
</operation>
<operation name="obtenerClasesAct">
<input wsam:Action="http://publicadores/Controlador/obtenerClasesActRequest" message="tns:obtenerClasesAct"/>
<output wsam:Action="http://publicadores/Controlador/obtenerClasesActResponse" message="tns:obtenerClasesActResponse"/>
</operation>
<operation name="obtenerUsuarios">
<input wsam:Action="http://publicadores/Controlador/obtenerUsuariosRequest" message="tns:obtenerUsuarios"/>
<output wsam:Action="http://publicadores/Controlador/obtenerUsuariosResponse" message="tns:obtenerUsuariosResponse"/>
</operation>
<operation name="actualizarProfe" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6 arg7 arg8">
<input wsam:Action="http://publicadores/Controlador/actualizarProfeRequest" message="tns:actualizarProfe"/>
<output wsam:Action="http://publicadores/Controlador/actualizarProfeResponse" message="tns:actualizarProfeResponse"/>
</operation>
<operation name="actualizarUsuario" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5">
<input wsam:Action="http://publicadores/Controlador/actualizarUsuarioRequest" message="tns:actualizarUsuario"/>
<output wsam:Action="http://publicadores/Controlador/actualizarUsuarioResponse" message="tns:actualizarUsuarioResponse"/>
</operation>
<operation name="rankingClases">
<input wsam:Action="http://publicadores/Controlador/rankingClasesRequest" message="tns:rankingClases"/>
<output wsam:Action="http://publicadores/Controlador/rankingClasesResponse" message="tns:rankingClasesResponse"/>
</operation>
<operation name="obtenerProfesor">
<input wsam:Action="http://publicadores/Controlador/obtenerProfesorRequest" message="tns:obtenerProfesor"/>
<output wsam:Action="http://publicadores/Controlador/obtenerProfesorResponse" message="tns:obtenerProfesorResponse"/>
</operation>
<operation name="obtenerUsuario">
<input wsam:Action="http://publicadores/Controlador/obtenerUsuarioRequest" message="tns:obtenerUsuario"/>
<output wsam:Action="http://publicadores/Controlador/obtenerUsuarioResponse" message="tns:obtenerUsuarioResponse"/>
</operation>
<operation name="rankingActividades">
<input wsam:Action="http://publicadores/Controlador/rankingActividadesRequest" message="tns:rankingActividades"/>
<output wsam:Action="http://publicadores/Controlador/rankingActividadesResponse" message="tns:rankingActividadesResponse"/>
</operation>
<operation name="altaActividadDeportiva" parameterOrder="arg0 arg1 arg2 arg3 arg4 arg5 arg6">
<input wsam:Action="http://publicadores/Controlador/altaActividadDeportivaRequest" message="tns:altaActividadDeportiva"/>
<output wsam:Action="http://publicadores/Controlador/altaActividadDeportivaResponse" message="tns:altaActividadDeportivaResponse"/>
<fault message="tns:ActividadDException" name="ActividadDException" wsam:Action="http://publicadores/Controlador/altaActividadDeportiva/Fault/ActividadDException"/>
</operation>
<operation name="altaUsuario">
<input wsam:Action="http://publicadores/Controlador/altaUsuarioRequest" message="tns:altaUsuario"/>
<output wsam:Action="http://publicadores/Controlador/altaUsuarioResponse" message="tns:altaUsuarioResponse"/>
<fault message="tns:UsuarioRepetidoException" name="UsuarioRepetidoException" wsam:Action="http://publicadores/Controlador/altaUsuario/Fault/UsuarioRepetidoException"/>
</operation>
<operation name="existeSocioClase" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/Controlador/existeSocioClaseRequest" message="tns:existeSocioClase"/>
<output wsam:Action="http://publicadores/Controlador/existeSocioClaseResponse" message="tns:existeSocioClaseResponse"/>
</operation>
<operation name="setPassword" parameterOrder="arg0 arg1 arg2 arg3">
<input wsam:Action="http://publicadores/Controlador/setPasswordRequest" message="tns:setPassword"/>
<output wsam:Action="http://publicadores/Controlador/setPasswordResponse" message="tns:setPasswordResponse"/>
</operation>
<operation name="obtenerActividadClase">
<input wsam:Action="http://publicadores/Controlador/obtenerActividadClaseRequest" message="tns:obtenerActividadClase"/>
<output wsam:Action="http://publicadores/Controlador/obtenerActividadClaseResponse" message="tns:obtenerActividadClaseResponse"/>
</operation>
<operation name="eliminarSocioRegistro" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/Controlador/eliminarSocioRegistroRequest" message="tns:eliminarSocioRegistro"/>
<output wsam:Action="http://publicadores/Controlador/eliminarSocioRegistroResponse" message="tns:eliminarSocioRegistroResponse"/>
</operation>
<operation name="existeClaseActividad">
<input wsam:Action="http://publicadores/Controlador/existeClaseActividadRequest" message="tns:existeClaseActividad"/>
<output wsam:Action="http://publicadores/Controlador/existeClaseActividadResponse" message="tns:existeClaseActividadResponse"/>
</operation>
<operation name="existeActividadDepo" parameterOrder="arg0 arg1">
<input wsam:Action="http://publicadores/Controlador/existeActividadDepoRequest" message="tns:existeActividadDepo"/>
<output wsam:Action="http://publicadores/Controlador/existeActividadDepoResponse" message="tns:existeActividadDepoResponse"/>
</operation>
</portType>
<binding name="ControladorPortBinding" type="tns:Controlador">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
<operation name="obtenerProfesorClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerRegistrosSocio">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="modificarActividadDeportiva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerActivDeporProfe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerClasesDeActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerActividadesInstitucion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="modificarInstitucion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerInstituciones">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerInstitucion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerActividades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerProfesInst">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="altaClaseActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
<fault name="ClaseException">
<soap:fault name="ClaseException" use="literal"/>
</fault>
</operation>
<operation name="altaSocioClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
<fault name="SocioYaInscriptoException">
<soap:fault name="SocioYaInscriptoException" use="literal"/>
</fault>
</operation>
<operation name="obtenerInfoClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerClases">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerListaSocios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="altaInstitucion">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
<fault name="InstitucionRepetidaException">
<soap:fault name="InstitucionRepetidaException" use="literal"/>
</fault>
</operation>
<operation name="obtenerActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerProfes">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerSocios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerClasesProfe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerClasesAct">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerUsuarios">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="actualizarProfe">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="actualizarUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="rankingClases">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerProfesor">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="rankingActividades">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="altaActividadDeportiva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
<fault name="ActividadDException">
<soap:fault name="ActividadDException" use="literal"/>
</fault>
</operation>
<operation name="altaUsuario">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
<fault name="UsuarioRepetidoException">
<soap:fault name="UsuarioRepetidoException" use="literal"/>
</fault>
</operation>
<operation name="existeSocioClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="setPassword">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="obtenerActividadClase">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="eliminarSocioRegistro">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="existeClaseActividad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
<operation name="existeActividadDepo">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal" namespace="http://publicadores/"/>
</input>
<output>
<soap:body use="literal" namespace="http://publicadores/"/>
</output>
</operation>
</binding>
<service name="ControladorPublishService">
<port name="ControladorPort" binding="tns:ControladorPortBinding">
<soap:address location="http://localhost:3001/controlador"/>
</port>
</service>
</definitions>